<header class="top-bar">
  <div class="top-bar-content">
    <img
      alt="Angular Logo"
      src="../../../assets/img/download.png"
    />
    <div class="menu-container">
        <p><a routerLink="./account-management/users">Users</a></p>
        <p><a routerLink="./account-management/user-group">User Group</a></p>
        <!-- Add more menu items here -->
    </div>
    <div class="profile">
      <div>
        SELECTOR BAHASA
      </div>
      <div>
        PROFIL
      </div>
    </div>
  </div>
</header>
<div class="content">
<router-outlet></router-outlet>
</div>

<div class='footer-container'>
  <p class='mandiri-copyright'>
    © 2021 PT Bank Mandiri Persero TBK
  </p>
</div>
