h1 {
  color: rgb(1, 1, 145);
  margin: 0;
  margin-bottom: 8px;
}

.container {
  background-color: #F3F7FB;
  height: 100%;
}

// .white-card

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
